// Breakpoints 
$breakpoints: (
    sm_mobile: rem(375),
    mobile: rem(768),
    tablet: rem(1024),
);

@mixin breakpointUp($size) {
    $breakpoint-value: map-get($breakpoints, $size) ;
    @media screen and (min-width: $breakpoint-value){
        @content
    }
}

@mixin breakpointDown($size) {
    $breakpoint-value: map-get($breakpoints, $size) ;
    @media screen and (max-width: $breakpoint-value){
        @content
    }
}